// 常规色
$general100: #131523;
$general90: #333752;
$general80: #5A607F;
$general70: #7E84A3;
$general60: #A1A7C4;
$general50: #D7DBEC;
$general40: #EAECF5;
$general30: #F5F6FA;

// 主色 - 蓝色
$blue100: #3699FF;
$blue90: #4FA7FF;
$blue80: #68B3FF;
$blue70: #82C1FF;
$blue60: #9CCDFF;
$blue50: #B5DAFF;
$blue40: #CFE7FF;
$blue30: #E8F4FF;

// 辅助色 - 红色
$red100: #F63649;
$red90: #F64F61;
$red80: #F66777;
$red70: #F6808D;
$red60: #F699A3;
$red50: #F6B1B9;
$red40: #FCD5D9;
$red30: #F6E2E4;

// 辅助色 - 绿色
$green100: #1BC5BD;
$green90: #37CCC5;
$green80: #54D3CD;
$green70: #74DBD6;
$green60: #96E3DF;
$green50: #A2EBE7;
$green40: #C7F2F0;
$green30: #DAF9EC;

// 辅助色 - 黄色
$yellow100: #F99600;
$yellow90: #FFC700;
$yellow80: #FFD613;
$yellow70: #FFE45F;
$yellow60: #FFE582;
$yellow50: #FFECA3;
$yellow40: #FFF4C9;
$yellow30: #FFF9E1;
