// 已分离变量

// 按钮样式
.el-button {
  border-radius: $--border-radius-base;
  font-family: $--font-family;
  align-items: center;
  font-size: 15px;
  // width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-color: $general50;
  color: $general90;
  height: 35px;

  span {
    font-size: $font-size-base;
    font-family: $--font-family,
    Microsoft YaHei;
    font-weight: 400;
    text-align: center;
  }

  i {
    width: 16px;
    height: 16px;
    // font-family: initial !important;
    background-position: center;
    // display: block;
  }

  .el-button--text i svg {
    font-size: 1.75rem
  }

  &:hover, &:active, &:focus {
    color: $general90
  }

  &:hover {
    background-color: $general40;
    border-color: $general40;
  }

  &:active {
    border-color: $general50;
    background-color: $general50;
  }

  + .el-button {
    margin-left: 20px;
  }
}

// // 禁用状态颜色
.el-button.is-disabled,
.el-button.is-disabled:active,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
  background-color: white !important;
  border-color: $general50 !important;
  color: $general60 !important;
}

// middle为原型上的按钮40高  small为增删改按钮32 mini为增删改按钮 24高

.el-button--mini {
  height: $height-xs;
  padding: 0 12px;
  font-size: 14px;
  border-radius: $--border-radius-middle;
}

.el-button--small {
  height: $height-md;
  padding: 0 15px !important;
  font-size: 14px;
  border-radius: $--border-radius-middle;
}

.el-button--middle {
  padding: 0 24px;
  height: $height-lg;
}

.el-button [class*=el-icon-] + span {
  margin-left: 4px;
}

// .el-button--mini ::v-deep i {
//   font-weight: $font-weight-primary
// }


// .el-button--mini ::v-deep span {
//   margin-left: 0;
// }
.el-button--primary {
  color: white;

  &:hover, &:active, &:focus {
    color: $color-white;
    border-color: none;
  }

  &:hover {
    background-color: $blue80;
  }

  &:active, &:focus {
    background-color: $blue100;
  }
}

.el-button--primary.is-plain {
  background-color: $color-white;
  border-color: $blue100;
  color: $blue100;

  &:hover, &:active, &:focus {
    color: $color-white;
    border-color: none;
  }

  &:hover {
    background-color: $blue80;
  }

  &:active, &:focus {
    background-color: $blue100;
  }
}


// 警告按钮
.el-button--danger.is-plain {
  color: $red100;
  border-color: $red100;

  &:hover, &:active, &:focus {
    color: $red100;
    background-color: $color-white;
  }

  &:hover {
    background-color: $red40;
  }

  &:active {
    background-color: $red50;
  }
}

// 文本按钮
.el-button--text {
  color: $blue100;
  border: none;

  &:hover, &:active, &:focus {
    background-color: transparent !important;
  }

  &:hover {
    color: $blue70 !important;
  }

  &:active, &:focus {
    color: $blue90;
  }
}

.el-button--text.is-link {
  text-decoration: underline;
  text-underline-position: under;
}

.el-button.el-button--text.is-disabled {
  background-color: transparent !important;
}

.el-button--text.is-plain {
  color: $general60;

  &:hover, &:active, &:focus {
    color: $blue100 !important
  }
}

// 加载中
.el-button.is-loading {
  // background-color:  $general30;
  &::before {
    background-color: transparent;
  }

  .el-icon-loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.el-button--primary.is-loading {
  background-color: $blue80;
  color: white;
}

.el-button--text.is-loading {
  color: $blue90;

}

.el-button--danger.is-loading {
  background-color: $red30;
}

.el-button--primary.is-plain.is-loading {
  background-color: $blue30;
  border-color: $blue90;
  color: $blue90;
}
